<!DOCTYPE html>
<html>
  <head>
    <title>Harmony</title>
    <script src="../../socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <style> /* styling for the webpage */
    * { margin: 0; padding: 0; box-sizing: border-box; }
        h1 {font: 80px Helvetica, Arial; text-align: center;}
        h2 {font: Helvetica, Arial; text-align: center;}
        body{background-color:#cc9900; background-image: linear-gradient(#cc9900,grey); height: 100vh;}
        #div1 { font: 15px Helvetica, Arial; background: #b3b3b3; width: 50%; margin-left: 25%; height: 85vh; overflow: auto; float: left; border-style: solid;}
        #div2 { font: 13px Helvetica, Arial; background: #b3b3b3; width: 10%; margin-left: 80%; height: 25vh; overflow: auto; border-style: solid;}
        #divForm {margin-left: 25%;}
        form { padding: 3px; position: fixed; bottom: 0; width: 50%; border-color: #000;}
        form input { border-style: solid; border-width: 1px; padding: 10px; width: 85%; margin-right: .5%;}
        form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; margin-left: 2%; }
        #messages { list-style-type: none; margin: 0; padding: 0;}
        #messages li { padding: 5px 10px; }
        #messages li:nth-child(odd) { background: #cacaca; }
</style>
  </head>
  <body>     
    <h1>Harmony</h1>
    
    <div id = "chatBox"> <!--The main chat head of the program -->
      <div id="div1"> <!-- The div that will hold where messages populate-->
        <ul id="messages"></ul>
      </div>
      <div id="div2"><!-- the div that will hold where the users will populate-->
        <ul id = "listOfUsers"></ul>
      </div>
      <div id="divForm"> <!-- where the input for the server can be handeled -->
        <form action="/" method="POST" id="chatForm">
          <input id="txt" autocomplete="off" placeholder="type your message here..." /><button>Send</button>
        </form>
      </div>
   </div>
    <script> 


            var socket = io.connect('http://localhost:8080');
            // submit text message without reload/refresh the page
            $('form').submit(function(e){
                
                e.preventDefault(); // prevents page reloading
                socket.emit('chat_message', $('#txt').val());
                $('#txt').val('');
                return false;
            });
            
            // append the chat text message
            socket.on('chat_message', function(msg){
              
                $('#messages').append($('<li>').html('<small>' +getTime()+'</small>'+'<br>'+msg));
                $('#div1').animate({scrollTop: $('#div1').prop("scrollHeight")}, 500);
            });
            // append text if someone is online
            socket.on('is_online', function(username) {
              var today = new Date();
                $('#listOfUsers').append($('<li>').html(username+'<br>'+ '<small>' +getTime()+'</small>'));
                
            });
            // ask username
            var username = prompt('Please tell me your name');
            socket.emit('username', username);
            function getTime(){
              var today = new Date();
              var date;
              date=today.getHours();
              if(today.getMinutes<10){
                date+=(":0"+today.getMinutes());
              }
              else
                date+=":"+today.getMinutes();
              if(today.getSeconds()<10){
                date+= (":0" + today.getSeconds()); 
              }
              else
               date+=":"+ today.getSeconds() 
              return date
            }
    </script>
  </body>
</html>